.exchange-rates {
    background: #E4F2FF;
    border-radius: 10px;
    padding: 10px 13px 30px;
}

.exchange-rates__title {
    font-family: 'IBM Plex Sans';
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #265D77;
    margin-bottom: 20px;
}

.exchange-rates__list {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #265D77;
}

.exchange-rates__item {
    display: flex;
    align-items: center;
}

.exchange-rates__item::after {
    content: '';
    display: block;
    width: 9px;
    height: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.exchange-rates__list .exchange-rates__item:not(:last-child) {
    margin-bottom: 22px;
}

.exchange-rates__item_up::after {
    background-image: url('../../img/up.svg');
}

.exchange-rates__currency {
    margin-right: auto;
}

.exchange-rates__value {
    display: block;
    margin-right: 5px;
}

.exchange-rates__item_down:after {
    background-image: url('../../img/down.svg');
}

@media (max-width:1024px) {
    .exchange-rates {
        margin: 0 auto;
        margin-top: 80px;
    }
}

@media (max-width:768px) {
    .exchange-rates {
        margin-top: 40px;
    }
}